@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;

@{
	var startNode = Umbraco.Content(Model.Id);
	var cities = startNode.Children.ToList().Where(c => c.GetType().Name == "City").ToList();
}
<section class="section branch-list">
	<div class="section-heading">
		<h3>Điểm đến</h3>
	</div>
	<div class="destination-desktop">
		<div class="container branch-content d-flex flex-column">
			<div class="nav flex-row nav-pills me-3 destination-list justify-content-around mb-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">

				<div class="btn-group mb-2 mb-md-0 btn-block">
					@{
						for (int i = 0; i < cities.Count(); i++)
						{
							var id = cities[i].Id;
							var btnId = $"v-pills-{id}-tab";
							var target = $"#v-pills-{id}";
							var ariaControl = $"#v-pills-{id}";
							var active = i == 0 ? "show active" : "";
							if (i % 2 == 0)
							{
								<button type="button"
										  class="btn btn-primary ht-80 @active"
										  id="@btnId"
										  data-bs-toggle="pill"
										  data-bs-target="@target"
										  role="tab"
										  aria-controls="@ariaControl">
									@cities[i].Name
								</button>
							}
							else
							{
								<button type="button"
										  class="btn btn-outline-primary ht-80 @active"
										  id="@btnId"
										  data-bs-toggle="pill"
										  data-bs-target="@target"
										  role="tab"
										  aria-controls="@ariaControl">
									@cities[i].Name
								</button>
							}
						}
					}
				</div>
			</div>
			<div class="tab-content" id="v-pills-tabContent">
				@{
					for (int i = 0; i < cities.Count(); i++)
					{
						var id = cities[i].Id;
						var btnId = $"v-pills-{id}";
						var ariaLabelledby = $"v-pills-{id}-tab";
						var active = i == 0 ? "show active" : "";
						var districts = ((Umbraco.Web.PublishedModels.City)cities[i]).FeaturedDistricts.ToList();

						<div class="tab-pane fade text-center @active" id="@btnId" role="tabpanel" aria-labelledby="@ariaLabelledby">
							@{
								<div id="city-tab" role="tablist" aria-orientation="vertical">
									<div class="btn-group mb-2 mb-md-0 btn-block btn-group-city d-flex flex-row justify-content-between">


										@for (int j = 0; j < districts.Count(); j++)
										{
											var idDistrict = districts[j].Id;
											var btnIdDistrict = $"v-district-{idDistrict}-tab";
											var targetDistrict = $"#v-district-{idDistrict}";
											var ariaControlDistrict = $"#v-district-{idDistrict}";
											var activeDistrict = j == 0 ? "active" : "";
											if (j % 2 == 0)
											{
												<button type="button"
														  class="btn mb-2 mb-md-0 btn-outline-primary btn-block btn-city @activeDistrict"
														  id="@btnIdDistrict"
														  data-bs-toggle="tab"
														  data-bs-target="@targetDistrict"
														  role="tab"
														  aria-controls="@ariaControlDistrict">
													@districts[j].Name
												</button>
											}
											else
											{
												<button type="button"
														  class="btn mb-2 mb-md-0 btn-outline-primary btn-block btn-city @activeDistrict"
														  id="@btnIdDistrict"
														  data-bs-toggle="tab"
														  data-bs-target="@targetDistrict"
														  role="tab"
														  aria-controls="@ariaControlDistrict">
													@districts[j].Name
												</button>
											}
										}
									</div>
								</div>
								<div class="tab-content">
									@{
										for (int k = 0; k < districts.Count(); k++)
										{
											var idDistrict = districts[k].Id;
											var btnIdDistrict = $"v-district-{idDistrict}";
											var ariaLabelledbyDistrict = $"v-district-{idDistrict}-tab";
											var activeDistrict = k == 0 ? "show active" : "";
											var hotels = ((Umbraco.Web.PublishedModels.District)districts[k]).FeaturedHotels.ToList();
											<div class="tab-pane text-center @activeDistrict" id="@btnIdDistrict" role="tabpanel" aria-labelledby="@ariaLabelledbyDistrict">
												<div>
													<div class="item">
														<div class="tab-content-list pt-5 text-left">
															@{
																foreach (var hotel in hotels)
																{
																	var ht = (Umbraco.Web.PublishedModels.Hotel)hotel;
																	<div class="signature-card mb-4">
																		<div class="img">
																			<a href="@ht.Url"><img src="@ht.HsdPicture.FirstOrDefault().Url()" /></a>
																		</div>
																		<div class="card-body d-flex flex-column justify-content-between">
																			<h6 class="mb-0 text-dark fw-semibold mb-3">@ht.HsdTitle</h6>
																			<div class="detail">
																				<span><a href="@ht.Url">Đặt Ngay <i class="fa-solid fa-arrow-right"></i></a></span>
																			</div>
																		</div>
																	</div>
																}
															}
														</div>

													</div>
												</div>
											</div>
										}
									}
								</div>
							}
						</div>
					}
				}
			</div>
		</div>
	</div>
	<div class="destination-mobile">
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
						  type="button" role="tab" aria-controls="nav-home" aria-selected="true">
					Thành phố <span class="tab-count">5</span>
				</button>
				<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
						  type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
					Quận <span class="tab-count">5</span>
				</button>
				<button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
						  type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
					Thương hiệu <span class="tab-count">5</span>
				</button>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
				<div class="owl-four owl-carousel d-flex flex-row justify-content-between">
					<div class="signature-card mb-4">
						<div class="img">
							<img src="assets/upcoming-nguyenkiem-2.png" />
						</div>
						<div class="card-body d-flex flex-column justify-content-between">
							<div class="city">CHI NHÁNH: HỒ CHÍ MINH</div>
							<h6 class="mb-0 text-dark fw-semibold mb-3">M Village Hotel Tao Đàn Park</h6>
							<p class="mb-4">
								Cho chuyến nghỉ dưỡng hay công tác lý tưởng cùng tầm nhìn xanh mát và các hệ tiện ích
								coworking, gym, Every Half và spa, chỉ 1 phút đến Quận 1, công viên Tao Đàn.
							</p>
							<div class="detail">
								<span><a href="#">Đặt Ngay <i class="fa-solid fa-arrow-right"></i></a></span>
							</div>
						</div>
					</div>
					<div class="signature-card mb-4">
						<div class="img">
							<img src="assets/upcoming-thonhuom-3.png" />
						</div>
						<div class="card-body d-flex flex-column justify-content-between">
							<div class="city">CHI NHÁNH: ĐÀ NẴNG</div>
							<h6 class="mb-0 text-dark fw-semibold mb-3">Signature by M Village Thợ Nhuộm</h6>
							<p class="mb-4">
								Thả mình vào trải nghiệm đương đại trong sắc nhuộm đậm chất Phố Cổ, với 162 phòng tràn ngập
								ánh sáng tự nhiên và hệ tiện ích đa phong cách tại Phố Thợ Nhuộm.
							</p>
							<div class="detail">
								<span><a href="#">Đặt Ngay <i class="fa-solid fa-arrow-right"></i></a></span>
							</div>
						</div>
					</div>
					<div class="signature-card mb-4">
						<div class="img">
							<img src="assets/upcoming-nguyenkiem-2.png" />
						</div>
						<div class="card-body d-flex flex-column justify-content-between">
							<div class="city">CHI NHÁNH: HÀ NỘI</div>
							<h6 class="mb-0 text-dark fw-semibold mb-3">M Village Nguyễn Kiệm</h6>
							<p class="mb-4">
								Với vị trí thuận lợi chỉ 5 phút di chuyển đến sân bay mà lại gần trung tâm, M Village Nguyễn
								Kiệm có không gian thiết kế sang trọng cùng đa dạng cơ sở vật chất để bạn tận hưởng.
							</p>

							<div class="detail">
								<span><a href="#">Đặt Ngay <i class="fa-solid fa-arrow-right"></i></a></span>
							</div>
						</div>
					</div>
					<div class="signature-card mb-4">
						<div class="img">
							<img src="assets/upcoming-thonhuom-3.png" />
						</div>
						<div class="card-body d-flex flex-column justify-content-between">
							<div class="city">CHI NHÁNH: ĐÀ NẴNG</div>
							<h6 class="mb-0 text-dark fw-semibold mb-3">Signature by M Village Thợ Nhuộm</h6>
							<p class="mb-4">
								Thả mình vào trải nghiệm đương đại trong sắc nhuộm đậm chất Phố Cổ, với 162 phòng tràn ngập
								ánh sáng tự nhiên và hệ tiện ích đa phong cách tại Phố Thợ Nhuộm.
							</p>

							<div class="detail">
								<span><a href="#">Đặt Ngay <i class="fa-solid fa-arrow-right"></i></a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
			<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
		</div>
	</div>
</section>